<html>
	<html>
  <head>
    <title>Sujag Book Donation</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>-->
    <script src="javascripts/chirpApp.js"></script>
  </head>
	<body ng-app="SujagBDApp">
		<div ng-controller="mainController">
			<form ng-submit="addDonor()">
				<input name="donorName" type="text" ng-model="newDonor.donorName"/>
				<input name="donorDivision" type="text" ng-model="newDonor.donorDivision"/>
				<input type="Submit" name="Add donor"/>
			</form>
			<div>
				<h4>
					List of donors
				</h4>
				<div class="donor" ng-repeat="donor in donors | orderby: 'donationDate':true">
					<p>
						{{donorName}}
					</p>
					<p>
						{{donorDivision}}
					</p>
					<p>
						{{donationDate}}
					</p>
					
				</div>
			</div>
		</div>
	</body>
				
</html>